<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="with=device-width, initialscale=1.0">

    <title>Homepage</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">

    <title>Data Registraring</title>
</head>

<header>
    <section class="header2">
        <!-- vedværende Header -->
        <nav>
            <a th:href="@{/}"><img src="Billeder/BILABONNEMENT_LOGO.png"></a>


        </nav>
        <!-- vedværende Header -->
    </section>
</header>

<hr/>

<body>

<div class="midtCol">
    <p><h1>Velkommen til data registrering.</h1>
    <br>
    <h4> Vælg venligst her ned den menu du vil ind på. </h4></p>

    <div>
        <a th:href="@{/addCarForm}" class="btn btn-primary mb-2">Registering af fejl</a>

        <a th:href="@{/liste-car}" class="btn btn-primary mb-2">Se fejl list</a>
    </div>
</div>




</body>
</html>