<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="with=device-width, initialscale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>

                        <!--        Dette er startsiden         -->

    <!-- vedværende Header -->
<header>
    <section class="header">
        <nav>
            <div class="nav-link2">
                <ul>
                    <li><a href="add-car-form.html">Dataregistrering</a></li>
                    <li><a href="forretningsudvikler.html">Forretningsudvikler</a></li>
                    <li><a href="skadeUdbedring.html">Skade & Udbedring</a></li>
                </ul>
            </div>
        </nav>
    </section>
</header>
    <!-- vedværende Header -->

<body>

<div>
    <img src="Billeder/BILABONNEMENT_LOGO.png" class="homepageimg"></a>
</div>

<div class="midtCol">
    <p><h1>Velkommen.</h1>
        <br><h3>Vælg venligst den menu du skal ind i, øverst på skærmen.</h3></p>
</div>

    <!--
    <div class="col-1">
        <button1 onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Log ind</button1>
    </div>
</div>

<div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="closecontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <label for="uname"><b>Bruger</b></label>
            <input type="text" placeholder="Skriv brugerlogind" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Skriv kode" name="psw" required>

            <button2 type="submit">Log ind</button2>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>
</div>

<script>
    // Modal
    var modal = document.getElementById('id01');

    // Når man trykker uden for boxen, så lukker den ned.
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
-->

</body>

<!-- vedværende Footer -->
<footer class="footer">
    <h4>Kontakt</h4>
    <ul>
        <li>Tel: +45 12345678</li>
        <li>Adresse: Kea 112 </li>
        <li>Email: bil@bil.dk</li>
        <li>CVR nr 12 12 12 12</li>
    </ul>
</footer>
<!-- vedværende Footer -->

</html>