<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dommage List</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">

</head>

<!-- vedværende Header -->
<header>
    <section class="header2">
        <nav>
            <a href="index.html"><a th:href="@{/}"><img src="Billeder/BILABONNEMENT_LOGO.png">
                <div class="nav-link">
                    <ul>
                        <li><a href=""><a th:href="@{/forretning}">Forretningsudvikler</a></li>
                        <li><a href=""><a th:href="@{/data}">Dataregistrering</a></li>
                    </ul>
                </div>
        </nav>
    </section>
</header>
<!-- vedværende Header -->

<body>

<div class="container ">

    <h2>Dommages list</h2>
    <hr/>

    <a th:href="@{/addDommageForm}" class="btn btn-primary mb-2">Add Car Dommage</a>

    <table class="table table-bordered table-striped ">

        <thead>
        <tr>


            <th>dommage ID </th>
            <th>dommage Date</th>
            <th>dommage Description</th>
            <th>dommage Car Chassis Number</th>
            <th>dommage Total Cost</th>


        </tr>
        </thead>



        <tbody>
        <tr th:each="the_dommage: ${leD}">

            <td th:text="${the_dommage.dommage_id}"></td>
            <td th:text="${the_dommage.dommage_date}"></td>
            <td th:text="${the_dommage.dommage_description}"></td>
            <td th:text="${the_dommage.dommage_chassisNumber}"></td>
            <td th:text="${the_dommage.dommage_total_cost}"></td>


        </tr>



        </tbody>

    </table>

    <hr/>

    <a th:href="@{/data}">back</a>

</div>

</body>

</html>