<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="with=device-width, initialscale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/Billeder">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <title>Maine Page</title>

</head>

<header>
<section class="header2">
    <!-- vedværende Header -->
    <nav>
        <a th:href="@{/}"><img src="Billeder/BILABONNEMENT_LOGO.png"></a>

        <div class="nav-link">
            <ul>
                <li> <a th:href="@{/forretning}" class="nav-link" href="#" >Forretningsudvikler</a> </li>
                <li> <a th:href="@{/data}" class="nav-link active" href="#" >Dataregistrering</a> </li>
                <li> <a th:href="@{/skade}" class="nav-link" href="#"  >Skade & Udbedring</a> </li>
            </ul>
        </div>
    </nav>
    <!-- vedværende Header -->
</section>
</header>
<body>

<div class="midtCol">
    <p><h1>Velkommen.</h1>
    <br>
    <h4>Vælg venligst den menu du vil ind på
        <br>oppe i højre hjørne af skærmen.</h4></p>
</div>

</body>

</html>