<!-- Ayaanle A. Hassan -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="with=device-width, initialscale=1.0">

    <title>Maine Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">

</head>

<!-- vedværende Header -->
<header>
    <section class="header2">
        <nav>
            <a href="index.html"><a th:href="@{/}"><img src="Billeder/BILABONNEMENT_LOGO.png">
                <div class="nav-link">
                    <ul>
                        <li><a href=""><a th:href="@{/forretning}">Forretningsudvikler</a></li>
                        <li><a href=""><a th:href="@{/data}">Dataregistrering</a></li>
                        <li><a href=""><a th:href="@{/skade}">Skade</a></li>
                    </ul>
                </div>
        </nav>
    </section>
</header>
<!-- vedværende Header -->

<body>

<div class="midtCol">
    <p><h1>Velkommen.</h1>
    <br>
    <h4>Vælg venligst den menu du vil ind på
        <br>oppe i højre hjørne af skærmen.</h4></p>
</div>

</body>

</html>